<div class="container">
  {%- if section.settings.title != blank -%}
    <div class="sixteen columns">
      <h2 class="title center">{{ section.settings.title | escape }}</h2>
      <div class="feature_divider"></div>
    </div>
  {%- endif -%}
  <div class="row">
  {%- for team-member in section.blocks -%}
    <div class="eight columns omega center">
        {{ member.settings.photo | img_url | img_tag }}
        <h3>{{ team-member.settings.staff-name }}</h3>
        <span>{{ team-member.settings.staff-title }}</span>
        <p> {{ team-member.settings.staff-bio }}</p>
    </div>
  {%- endfor -%}
</div>
{% schema %}
{
    "name" : "team members",
    "class" : "team-members-section",
    "settings" : [
        {
            "id" : "title",
            "type" : "text",
            "label" : "Section Title", 
            "default" : "Meet Our Team"
        }
    ],
    "blocks" : [
        {
            "name" : "Team Member",
            "type" : "Staff-Profile",
            "settings" : [
                {
                    "id": "photo",
                    "type": "image_picker",
                    "label" : "Photo"
                },
                {
                    "id" : "staff-name",
                    "type" : "text",
                    "label" : "Name"
                },
                {
                    "id" : "staff-title",
                    "type" : "text",
                    "label" : "Job Title"
                },
                {
                    "id" : "staff-bio",
                    "type" : "textarea",
                    "label" : "Bio"
                }

            ]
        }
    ]
}
{% endschema %}